.env
.ropeproject
.DS_Store
.git
.idea
.zed
.helix
.ruff_cache
.vscode
.venv
.pytest_cache
*.ipc
*.lock
*.pyc
*.so
dist
target
__pycache__
Cargo.lock
.lapce
temp
profile.json.*
examples
# pixi environments
.pixi
