.env
.ropeproject
.DS_Store
.git
.idea
.zed
.helix
.ruff_cache
.vscode
.venv
.pytest_cache
*.ipc
*.lock
!python/uv.lock
*.pyc
*.so
dist
target
__pycache__
!/Cargo.lock
.lapce
temp
profile.json.*
examples
# pixi environments
.pixi

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
